captum==0.6.0
clang==21.1.7
gensim==3.8.3
libclang==18.1.1
matplotlib==2.2.3
numpy==2.4.2
openai==0.8.0
pandas==1.1.4
peft==0.13.2
scikit_learn==1.8.0
sympy==1.13.3
tokenizers==0.10.3
torch==1.7.1+cu110
tqdm==4.62.3
transformers==4.12.2
tree_sitter==0.19.0
xlrd==1.1.0
~umpy==1.19.4
